<!DOCTYPE html>
<html lang="pt" class={{ mainbhelper }}>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    </head>
    
    <body>
        {{{ body }}}
    </body>
</html>