<h2 class="{{ typhohelper1 }}">Consulta ao Banco de Dados</h2>
<form action="http://127.0.0.1:3000/consulta/" method="get">
  <div class="container">
    <div class="tile is-ancestor is-12">
      <div class="tile is-parent is-vertical">
        <input class="tile input is-12" type="number" name="chave_id" id="key" placeholder="Consulte pelo ID Numérico">
        <input class="tile button is-12 is-white" type="submit" value="Realizar Consulta"/>
      </div>

      <div class="tile is-parent is-vertical">
        <input class="tile input is-12" type="text" name="chave_nome" id="key" placeholder="Consulte pelo Nome">
        <input class="tile button is-12 is-white" type="submit" value="Realizar Consulta" />
      </div>
    </div>

    <div class = "tile is-ancestor is-12">
      <div class="tile is-parent is-vertical">
        <input class="tile input is-12" type="text" name="chave_tel" id="key" placeholder="Consulte pelo Telefone">
        <input class="tile button is-12 is-white" type="submit" value="Realizar Consulta" />
      </div>
    </div>
  </div>        
</form><br>