<div class="container">
  <h1 {{# if state }}class="title has-text-white is-size-2"{{else}}class="title has-text-danger is-size-2"{{/if}}>{{ name }}</h1></div><br>

  <div class="block">
    <a href="/cadastro" class="box has-text-grey-dark has-background-white-ter is-size-1">Cadastro de Novos Contribuintes</a>
    <a href="/consulta" class="box has-text-grey-dark has-background-white-ter is-size-1">Consultar e editar cadastro</a>
    <a href="/baixas" class="box has-text-grey-dark has-background-white-ter is-size-1">Realizar Baixas</a>
    <a href="/relatorios" class="box has-text-grey-dark has-background-white-ter is-size-1">Gerar Relatórios</a>
  </div>
</div>